<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script src="./dll/reacts.dll.js"></script>
    <script src="./dll/biz_charts.dll.js"></script>
    <script src="./dll/ant_icon.dll.js"></script>
    <script>
        window.__main__ = {
            routerController: {}
        }    
    </script>
    <div id="root"></div>
    </dv>
</body>
<!-- <script src="http://static2.pp.ximalaya.com/lib/broccoli-stage/last/dll/reacts.dll.js"></script>
<script src="http://static2.pp.ximalaya.com/lib/broccoli-stage/last/dll/biz_charts.dll.js"></script>
<script src="http://static2.pp.ximalaya.com/lib/broccoli-stage/last/dll/ant_icon.dll.js"></script> -->
<!-- <script src="http://static2.pp.ximalaya.com/sr012018/wws-background/last/dll/reacts.dll.js"></script>
<script src="http://static2.pp.ximalaya.com/sr012018/wws-background/last/dist/js/manifest.js"></script>
<script src="http://static2.pp.ximalaya.com/sr012018/wws-background/last/dist/js/app.chunk.js"></script> -->

</html>