.cps-data-center-container {
  .page-container {
    margin: 0;
    min-width: 900px;
    overflow: auto;
    border-top: 2px solid #f0f2f5;
    background: #f0f2f5;
    .main-content {
      margin: 8px;
      padding: 20px 40px;
      background: #fff;
    }
  }
  .board-conten{
    .ant-breadcrumb{
      margin-bottom: 0;
    }
  }
}
