
.global-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
  background: #fff;
  .breadcrumb {
    a {
      &:hover {
        color: #e1a661;
      }
    }
    .ant-breadcrumb {
      margin-bottom: 4px;
    }
  }
  .page-title {
    margin-top: 10px;
    font-size: 20px;
    color: #666;
  }
  .global-exit,
  .global-save {
    margin-right: 20px;
  }

  .global-search {
    .btn-add {
      margin-left: 20px;
      span {
        margin-left: 5px;
      }
    }
  }
}
