<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-13 17:50:23
 * @LastEditTime: 2019-08-14 16:15:45
 * @LastEditors: Please set LastEditors
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>【新版图书馆】-- 图书管理系统</title>
  </head>

  <body>
    <script>
      window.config = {
        env: "dev",
        contentPath: "/wws-workbench/v1",
        fixedRatio: "",
        user: {
          realName: "周砚",
          roleType: "INNER",
          uName: "1850002kbet",
          uid: 81614,
          userHead: "",
          userId: 188
        }
      };
      window.voi = {
        regist: function() {}
      };
    </script>
    <div id="root"></div>
    <div id="modal-root"></div>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.10.1/dist/data-set.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.1&key=0d78256ea89beeb8c25d1cd047549d1f"></script>
    <script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
  </body>
</html>
