<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>【新版图书馆】-- 图书管理系统</title>
  </head>

  <body>
    <script>
      window.config = {
        env: "dev",
        contentPath: "/wws-workbench/v1",
        fixedRatio: "",
        user: {
          realName: "周砚",
          roleType: "INNER",
          uName: "1850002kbet",
          uid: 81614,
          userHead: "",
          userId: 188
        }
      };
      window.voi = {
        regist: function() {}
      };
    </script>
    <div id="root"></div>
    <div id="modal-root"></div>
  </body>
</html>
