.price-add {
  p {
    margin: 0;
  }
  .query-area {
    overflow: hidden;
    margin: 15px 0;

    .search-form-condition {
      float: left;
      .ant-form-item {
        float: left;
      }
    }
    .search-form-btn {
      float: left;
      margin-top: 4px;
    }
  }
}
