.real-order {
  &-breadcrumb {
    padding: 0 0 10px;
  }
  .stastic {
    overflow: hidden;
    line-height: 32px;
    margin-bottom: 20px;
    button {
      float: right;
    }
  }
  &-search-form {
    display: flex;
    .ant-form-item {
      .ant-form-item-control-wrapper {
        display: inline-block;
      }
    }
    .search-form-btn {
      padding-top: 4px;
    }
  }
}
