// menu
.ant-menu {
  background: transparent;
}

.ant-layout-header {
  padding: 0 24px !important;
}

.ant-layout-header,
.ant-menu-dark {
  background: linear-gradient(270deg, rgba(75, 120, 200, 1) 0%, rgba(37, 67, 151, 1) 100%) !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0;
}

.ant-menu-root.ant-menu-inline,
.ant-menu-sub.ant-menu-inline {
  background: rgba(250, 251, 254, 1) !important;
}

.ant-table {
  .ant-table-thead {
    .ant-table-column-title {
      color: #7f8fa4;
      font-weight: 600;
    }
    tr > th {
      background: #fafbfe;
    }
  }
}

.ant-btn-primary:hover,
.ant-btn-primary:active,
.ant-btn-primary:focus {
  font-size: 12px !important;
}
.ant-tooltip {
  .ant-tooltip-inner {
    max-width: 300px;
    padding: 8px 16px;
    background: #324150;
  }
}

.ant-form {
  .ant-form-item-label > label::after {
    content: '';
  }
}
.ant-table {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid rgba(234, 234, 237, 1);
  }
}
