.price-add {
  p {
    margin: 0;
  }
  .query-area {
    overflow: hidden;
    margin: 15px 0;

    .search-form-condition {
      float: left;
      .ant-form-item {
        float: left;
      }
    }
    .search-form-btn {
      float: left;
      margin-top: 4px;
    }
  }

  .company-info {
    margin-bottom: 24px;
    > .item {
      display: inline-block;
      margin-right: 48px;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(50, 65, 80, 1);
      font-weight: 400;
      span {
        color: #324150;
        margin-right: 16px;
        font-weight: 600;
      }
    }
  }
  .ant-table-tbody {
    .product {
      display: flex;
      align-items: center;
      .cover {
        width: 38px;
        height: 38px;
        border: 1px solid #ccc;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
